# Energy project gitignore file

# Configuration dir
.conf/
# Log dir
.logs/
# Media dir
media/
# Static collected dir
static_collected/
# Python cache
__pycache__
# Pycharm project settings
.idea/
# ?
.DS_Store
# Test database
*.sqlite3
